@import "aos/dist/aos.css";

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background: #ffffff;
  color: #0F172A;
  line-height: 1.6;
  padding-top: 20px;
}

/* Headings */
h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
